*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 100vmax;
  min-height: 100vh;
  background: #ffffff;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}
.sub-heading {
  padding: 1rem 0;
  font-size: 1rem;
  text-align: center;
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}





